.toolbar-off {
	list-style-image: URL("chrome://sauceconnectlauncher/skin/status-bar-off.png");
}

.toolbar-on {
	list-style-image: URL("chrome://sauceconnectlauncher/skin/status-bar.png");
}

.toolbar-starting {
	list-style-image: URL("chrome://sauceconnectlauncher/skin/status-bar-connecting.png");
}
